body {
    min-height: 100vh;
    padding: 0;
    margin: 0;
    font-size: 1.4rem;
}

.main-wrapper {
    display: flex;
    justify-content: center; 
    align-items: center; 
    height: auto;
    margin-top: 4em;
}

.wrapper {
    max-width: 100%;
    width: 750px;
    height: 100%;
    border: 3px solid #b6bdbd;
    height: 60%;
    margin: 0 1.5em;
    padding: 1.5em;
    border-radius: 9px;
    background: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);

}

button, 
a {
    cursor: pointer;
    max-width: 100%;
    width: 150px;
}
